# Editor configuration, see https://editorconfig.org
root = true

[*]
end_of_line = lf
charset = utf-8
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 119

[*.css]
indent_size = 2

[*.js]
quote_type = single
ij_javascript_use_double_quotes = false
max_line_length = off

[*.json]
indent_size = 2
quote_type = double
ij_javascript_use_double_quotes = true

[*.{doap,xml}]
indent_size = 2
max_line_length = off
quote_type = double

[*.{md,markdown}]
trim_trailing_whitespace = false
max_line_length = off
