# SPDX-License-Identifier: MIT OR LGPL-2.0-or-later
# SPDX-FileCopyrightText: 2022 Diego González Álvarez <dgonzalez.bz@gmail.com>

installed-tests/js/jasmine.js
installed-tests/js/modules/badOverrides/WarnLib.js
installed-tests/js/modules/subBadInit/__init__.js
src/gjs/script/jsUnit.js
/_build
/builddir
