# SPDX-License-Identifier: MIT OR LGPL-2.0-or-later
# SPDX-FileCopyrightText: 2020 Philip Chimento <philip.chimento@gmail.com>
/node_modules
/tools/node_modules

package-lock.json

/build/
gschemas.compiled
*~
*.gmo
*.mo
*.zip
src/.prettierrc

.idea
.gitconfig
