.background {
  font-size: 16px; /* 1rem */
  color: #ffffff;
  background-color: rgba(10, 10, 10, 0.85);
  border-radius: 0.5em;
}

.background,
.wrapper,
.inner-boxlayout {
  padding: 0.5em 0.5em;
}

.group_name {
  padding: 0.3em 0;
  font-size: 1.8em;
  font-weight: bolder;
}

.shortcut {
  font-size: 1rem;
}

.keys-boxlayout {
  width: 15em;
}

.keys-boxlayout,
.description-boxlayout {
  font-size: 0.9em;
  line-height: 0.9em;
}

.kbd,
.plus,
.comma,
.right_arrow,
.description {
  padding: 0.3em;
  vertical-align: middle;
}

.kbd,
.plus,
.comma,
.right_arrow {
  font-weight: bold;
}

.kbd {
  display: inline-block;
  font-family: JetBrains Mono, Menlo, Ubuntu Mono, Consolas, Liberation Mono, monospace;
  font-weight: bolder;
  color: #24292f;
  background-color: #f6f8fa;
  border: 0.1em solid #afb8c133;
  border-radius: 0.5em;
  box-shadow: inset 0 -0.1em 0 #afb8c133;
}
